@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: julesColossal;
  src: url(./fonts/JulesColossal-Medium.ttf);
}

body {
  margin: 0;
  display: flex;
}
.Experiencing{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: julesColossal;
  font-size: 3.2em;
  line-height: 1.1;

}

.carousel{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
}

.slide{
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
}

.slide-hidden{
  display: none;
}

.arrow{
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 10px #555);
}

.arrow:hover{
  cursor: pointer;
}

.arrow-left{
  left: 1rem;
}

.arrow-right{
  right: 1rem
}

.indicators{
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator{
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive{
  background-color: grey;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bottle.fixed{
  position: fixed;
}

.bottle img {
  position: relative;
  z-index: 1;
  display: none;
}


.fluid{
  max-width: 25%;
  height: auto;
  margin: auto;
}

.map-container{
  width: 25%;
  height: 25vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ecece5;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
