@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: julesColossal;
  src: url(./fonts/JulesColossal-Medium.ttf);
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-family: julesColossal;
  font-size: 3.2em;
  line-height: 1.1;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bottle.fixed{
  position: fixed;
}

.bottle img {
  position: relative;
  z-index: 1;
  display: none;
}


.fluid{
  max-width: 25%;
  height: auto;
  margin: auto;
}

.map-container{
  width: 25%;
  height: 25vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ecece5;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
